*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    
}
.contents-1{
    width: 752px;
    
}
.contents-1 img{
    width: 64px;
}
.contents-1 li{
    width: 173px;
    height: 224px;
    background-color: #ebf3ff;
    border-radius: 12px;
    border: 1px solid #ebf3ff;
    text-align: center;
    padding: 28px 0 0;
    list-style: none;
}
ul{
    display: flex;
    justify-content: space-between;
}

h2{
    font-size: 20px;
}
p{
    font-size: 14px;
}
.contents-2{
    width: 302px;
    height: 160px;
    background-color: #E2E6ED;
    border-radius: 12px;
    padding: 32px;
}
.images-a{
    display: flex;
    justify-content: space-between;
}
img{
    width: 100px;
}
button{
    width: 304px;
    height: 50px;
    background-color: rgb(243, 247, 254);
    font-size: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
}
.images-a p{
    margin-bottom: 8px;
}