*{
    margin: 0;
    padding: 0;
}
.contents{
    background-color: #f5f6f8;
    width: 30%;
    height: 100%;
    text-align: center;
    float: left;
}
.windows{
    width: 45px;
    height: 45px;
    margin: 40px 15px;
}
.clearfix{
    clear: both;
}
.sdk{
    width: 45px;
    height: 45px;   
    margin: 40px 15px;
}
.service{
    width: 45px;
    height: 45px; 
    margin: 40px 15px;
}
.i-more1{
    width: 10px;
    height: 10px; 
    margin-left: 10px;
}
.body-1>h1{
    text-transform: uppercase;
}
.body-2>h1{
    text-transform: capitalize;
}
.title>h2{
    text-transform: capitalize;
    text-align: center;
}
.container{
    margin: 20px auto;
    width: 1120px;
}
h1{
    margin-bottom: 30px;
}
p{
    font-size: 12px;
    margin-bottom: 30px;
}
button{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 30px;
}
.mt-20{
    margin: 0 1.5%;
}
.title{
    margin-left: 50px;
    margin-top: 50px;
}